<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Category:</strong>
  <% @product.product_categories.each do |pc| %>
      <%= Category.find(pc.category.id).name %>
  <% end %>
</p>

<p>
  <strong>Primary Image:</strong>
  <% if @product.primary_image.attached? %>
      <%= image_tag @product.primary_image,class: "image" %> 
  <% end %>
</p>

<p>
  <strong>Supporting Image:</strong>
  <% if @product.images.attached? %>
    <div class="d-flex align-items-center">
      <% @product.images.each do |image| %>
          <%= image_tag image, class: "display_image"%> 
      <% end %>
    </div>
  <% end %>
</p>

<%= link_to 'Back', homes_path, class: "create"%>
