<p id="notice"><%= notice %></p>


<div class="d-flex align-items-center justify-content-between">
    <h1 class="tablename justify-content-start">Products </h1>
    <%= link_to 'Download CSV', admins_products_path(format: :csv), class: "btn btn-secondary justify-content-end" %>
</div>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>Primary Image</th>
      <th>Supporting Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Stock</th>
      <th>Category</th>
      <th>Status</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><% if product.primary_image.attached? %>
              <%= image_tag product.primary_image, class: "image"%> 
            <% end %>
        </td>
        <td><% if product.images.attached? %>
              <% product.images.each do |image| %>
                  <%= image_tag image,class: "image"%> 
              <% end %>
            <% end %>
        </td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= product.categories&.map(&:name)&.join(',').presence || 'NA' %></td>
        <td><%= product.status %></td>
        <td><%= link_to 'Show', admins_product_path(product), class: "btn btn-sm btn-success"%></td>
        <td><%= link_to 'Edit', edit_admins_product_path(product), class: "btn btn-sm btn-primary"%></td>
        <td><%= link_to 'Destroy', admins_product_path(product),class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="d-flex align-items-center justify-content-between">
  <%= link_to 'New Product', new_admins_product_path, class: "create"%>    
  <%= form_tag admins_products_csv_upload_path, multipart: true do %>
      <div>
          <%= file_field_tag :csv_file %>
      </div>
      <div> 
          <%= submit_tag :upload %>
      </div> 
  <% end %>
</div>
  

