<p id="notice"><%= notice %></p>

<h1 class="tablename">Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Stock</th>
      <th>Category</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><% product.product_categories.each do |pc| %>
            <%= Category.find(pc.category.id).name %>
        <% end %>
        </td>
        <td><%= link_to 'Show', product, class: "btn btn-sm btn-success"%></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-primary"%></td>
        <td><%= link_to 'Destroy', product,class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "create"%>
