<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Category:</strong>
  <% @product.product_categories.each do |pc| %>
            <%= Category.find(pc.category.id).name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: "create" %> |
<%= link_to 'Back', products_path, class: "create"%>
