<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <a class="navbar-brand navbarelement" href="/admins/products">Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Product",admins_products_path, class: "nav-link navbarelement" %>
        </li>
        <li class="nav-item active">
            <%= link_to "Category",categories_path, class: "nav-link navbarelement" %>
        </li>
        <li class="nav-item active">
            <%= link_to "Signout",destroy_user_session_path, method: :delete, class: "nav-link navbarelement" %>
        </li>
        <span class="navbar-text navbarelement" style="color:green"> Hello <%= current_user.email %> </span>
      <% else %>
      <li class="nav-item active">
        <%= link_to "Product",admins_products_path, class: "nav-link navbarelement" %>
      </li>
      <li class="nav-item active">
            <%= link_to "Category",categories_path, class: "nav-link navbarelement" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Login",new_user_session_path, class: "nav-link navbarelement" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign up",new_user_registration_path, class: "nav-link navbarelement" %>
      </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>